.page-footer {
  background-color: $gray-800;
  color: $gray-200;
  float: left;
  font-size: $font-size-sm;
  line-height: 1rem;
  padding: 1rem 2rem;
  position: relative;
  width: 100%;

  &__copyright,
  &__legal {
    padding: 0.5rem 0;
  }

  &__link {
    color: $gray-200;
    &:focus,
    &:hover {
      color: $gray-200;
    }
  }
}
