
.sidebar {
  height: 100%;
  position: absolute;

  &.collapsed {
    transition: all .5s ease-in-out;
    width: $header-height;
    > .sidebar-nav {
      opacity: 0;
      transition: opacity .5s ease-in-out;
    }
  }

  &:not(.collapsed) {
    transition: all .5s ease-in-out;
    width: 100%;
  }

  &--dark {
    background-color: $gray-600;
    color: rgba($white,0.9);
  }

  &-nav {
    overflow: hidden;
    transition: opacity .5s ease-in-out;

    &-header {
      padding: 1rem 2rem;
    }
  }

  &-nav__item {
    display: block;
    font-size: $font-size-sm;
    line-height: 3rem;
    text-transform: uppercase;
    white-space: nowrap;

    &--dark {
      border-bottom: 1px solid rgba($gray-800, 0.5);
      color: rgba(#FFF, 0.9);
      &:first-of-type {
        border-top: 1px solid rgba($gray-800, 0.5);
      }
    }
  }

  &-nav__link {
    display: block;
    line-height: 1rem;
    padding: 1rem 2rem;
    transition: all 0.2s ease-in-out;
    &--dark {
      color: rgba($white, 0.9);
      &:focus,
      &:hover {
        background-color: rgba($gray-800, 0.5);
        color: inherit;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
      }

      &.router-link-exact-active {
        background-color: $gray-800;
      }
    }
  }

  &-nav__list {
    display: block;
    padding: 0;
  }

  &__toggler {
    display: inline-block;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    width: 100%;
    &--dark {
      border-bottom: 1px solid rgba($gray-800, 0.5);
      color: rgba($gray-200, 0.9);
      &:focus,
      &:hover {
        color: rgba($white, 0.9);
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar:not(.collapsed) {
    width: 20%;
  }
}
